@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,300&family=Poppins:wght@300;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}
nav{
  padding: 20px;
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
  background-color: #9DB2BF;
}
.logo
{
  margin-left: 30px;
}
.logo:hover{
 cursor: pointer;
}
li{
  list-style-type: none;
  display: inline;
  margin: 30px;
  font-size: x-large;
  font-weight: bold;
}
li:hover{
  color: #fff;
  cursor: pointer;
}
.container
{
  background-color: #8dcbe6;
  margin-top: 20px;
}
h1{
  text-align: center;
  text-decoration: underline;
}
p{
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
color:ghostwhite;

}
form{
  border: 2px solid black;
  padding: 40px;
  width: 450px;
  height: 250px;
  position: relative;
  left: 100px;
  margin-top: 30px;
}

table,tr,th,td
{
  border: 2px solid black;
  border-collapse: collapse;
  padding: 10px;
}
.tbl{
  border: 2px solid black;
  padding: 40px;
  width: 600px;
  height:auto;
  position: relative;
  left: 690px;
  bottom:333px;
        
}
h2{
      position: relative;
      text-align: center;
      bottom: 30px;
}
h3{
     position: relative;
     left: 690px; 
      bottom: 333px;
      margin-bottom: 10px;
}
label{
  font-family: 'Poppins', sans-serif;
  font-size: x-large;
  font-weight: bold;
}

#website{
  width: 300px;
  position: relative;
  left: 45px;
  padding: 5px;
  border-radius: 30px;
}
#username
{
  width: 300px;
  position: relative;
  left: 20px;
  padding: 5px;
  border-radius: 30px;
}
#password
{
  width: 300px;
  position: relative;
  left: 30px;
  padding: 5px;
  border-radius: 30px;
}

.btn{
  padding: 7px;
      width: 100px;
      border-radius: 40px;
      background-color: rgb(6, 75, 21);
      color: #fff;
      position: relative;
      left: 40px;
      top: 20px;
      cursor: pointer;
      box-shadow: 15px 10px 10px #2d4356;
}
.btn:hover{
 background-color: #fff;
 color: rgb(6, 75, 21);
 font-size: large;
 font-weight: bold;
}
.btndel
{
  padding: 7px;
  width: 50px;
  margin-left: 25px;
  border: none;
  border-radius: 40px;
  background-color: rgb(240, 42, 7);
  color: #fff;
  cursor: pointer;
  box-shadow: 15px 10px 10px #2d4356;
}
.btndel:hover
{
  background-color: #fff;
}
#alert
  {
    display: none;
    color: rgb(211, 24, 111);
  }